@model Crowd_knowledge_contribution.Models.Domain
@{
    ViewBag.Title = "Editare domeniu";
}
<div class="custom-div">
    <h2>@ViewBag.Title</h2>
</div>

<form method="post" action="/Domains/Edit/@Model.DomainId">

    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.DomainId)
    <div class="custom-div">
        @Html.Label("DomainName", "Nume domeniu")
    </div>
    <br />
    @Html.TextBoxFor(m => m.DomainName, new { @class = "form-control form-control-custom" })
    <br /><br />

    <button class="btn btn-primary" type="submit">Modifică domeniu</button>
</form>
