@{
    ViewBag.Title = "Domenii";
}

<div class="custom-div">
    <h1>@ViewBag.Message</h1>
    <h2>@ViewBag.Title</h2>
</div>
@foreach (var category in @ViewBag.Domains)
{
    <div class="custom-div">
        @Html.Label("DomainName", "Domeniu")
        <p>@category.DomainName</p>
    </div>
    <a class="btn btn-primary" href="/Domains/Show/@category.DomainId">Afișare domeniu</a>
    <a class="btn btn-primary" href="/Domains/Edit/@category.DomainId">Editare domeniu</a>
    <br />
    <hr />
    <br />
}

<br />
<a class="btn btn-primary" href="/Domains/New">Adaugă domeniu</a>
<a class="btn btn-primary" href="/Articles/Index">Listă articole</a>
<br />
