@model Crowd_knowledge_contribution.Models.Domain
@{
    ViewBag.Title = "Adaugă domeniu";
}
<div class="custom-div">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm(actionName: "New", controllerName: "Domains"))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger text-danger-custom" })

    <div class="custom-div">
        @Html.Label("DomainName", "Nume domeniu")
    </div>
    <br />
    @Html.TextBox("DomainName", null, new { @class = "form-control form-control-custom" })
    @Html.ValidationMessageFor(m => m.DomainName, null, new { @class = "text-danger text-danger-custom" })
    <br />
    <br />

    <button class="btn btn-sm btn-success" type="submit">Adaugă domeniu</button>
}
