@using System.Web.UI.WebControls
@using Crowd_knowledge_contribution.Models

@{
    ViewBag.Title = "Articole bombă";
}

<h1>@ViewBag.Message</h1>
<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Admin"))
{
    <a class="btn btn-primary" href="/Domains/Index">Afișare domenii</a>
}
@if (User.IsInRole("Admin") || User.IsInRole("Editor"))
{
    <a class="btn btn-primary" href="/Articles/New">Adaugă articol</a>
    <br />
}
<br />

<form class="card card-sm" method="GET">
    <p>Ordonare</p>
    <select name="order">
        @if (@ViewBag.Order == "0")
        {
            <option value="0" selected>Cele mai recente</option>
        }
        else
        {
            <option value="0">Cele mai recente</option>
        }
        @if (@ViewBag.Order == "1")
        {
            <option value="1" selected>Cele mai vechi</option>
        }
        else
        {
            <option value="1">Cele mai vechi</option>
        }
        @if (@ViewBag.Order == "2")
        {
            <option value="2" selected>Alfabetic</option>
        }
        else
        {
            <option value="2">Alfabetic</option>
        }
        @if (@ViewBag.Order == "3")
        {
            <option value="3" selected>Alfabetic (ordine inversă)</option>
        }
        else
        {
            <option value="3">Alfabetic (ordine inversă)</option>
        }
    </select>
    <br />
    <br />

    @Html.TextBox("search", (string)ViewBag.SearchString, new { @class = "form-control", @placeholder = "Introduceți cuvinte cheie." })
    <br />
    <input type="submit" value="Filtează" class="col-md-2" />
    <br />
</form>


<br />
<br />


@foreach (Article article in ViewBag.Articles)
{
    <div class="panel panel-default">
        @Html.Partial("ArticleInfo", article)
        <div class="panel-footer">
            <a class=" btn btn-sm btn btn-success" href="/Articles/Show/@article.ArticleId">Afișare articol</a>
        </div>
    </div>
}

<div>
    <nav aria-label="Page navigation">
    
        <ul class="pagination">
            <li>
                <a href="/Articles/Index?page=1&@ViewBag.CarryArguments" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (var i = 1; i <= ViewBag.LastPage; i++)
            {
                <li>
                    <a href="/Articles/Index?page=@(i)&@ViewBag.CarryArguments">
                        @(i)
                    </a>
                </li>
            }
            <li>
                <a href="/Articles/Index?page=@(ViewBag.LastPage)&@ViewBag.CarryArguments" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>

    </nav>
</div>