@using System.Web.UI.WebControls
@model Crowd_knowledge_contribution.Models.Article

<br />
<a class="btn btn-primary" href="/Articles/Index">Inapoi la articole</a>
<br />
<br />

<div class="panel panel-default panel-default-custom">
    @Html.Partial("ArticleInfo", Model)
    @if (ViewBag.afisareButoane)
    {
    <div class="panel-footer panel-footer-custom">
        @if (Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
        {
            if (ViewBag.esteAdmin || !Model.Protected)
            {
                <a class="btn btn-primary pull-left" href="/Articles/Edit/@Model.ArticleId">Modifica articol</a>
            }
        }
        @if (ViewBag.IsEditor || ViewBag.esteAdmin)
        {
            <a class="btn btn-primary pull-left" href="/Versions/Index/@Model.ArticleId">Versiuni</a>
            if (Model.UserId != ViewBag.utilizatorCurent || ViewBag.esteAdmin)
            {
                if (!Model.Protected)
                {
                    using (Html.BeginForm("Protect", "Articles", method: FormMethod.Post, routeValues: new {id = @Model.ArticleId, version = @Model.VersionId, setProtected = true } ))
                    {
                        <button class="btn btn-primary pull-left" type="submit">Protejează</button>
                    }
                }
                else
                {
                    using (Html.BeginForm("Protect", "Articles", method: FormMethod.Post, routeValues: new {id = @Model.ArticleId, version = @Model.VersionId, setProtected = false } ))
                    {
                        <button class="btn btn-primary pull-left" type="submit">Elimină protejarea</button>
                    }
                }
            }
        }

        @if (Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
        {
            using (Html.BeginForm(actionName: "Delete", controllerName: "Articles", method: FormMethod.Post, routeValues: new { id = @Model.ArticleId, version = @Model.VersionId }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-danger pull-right" type="submit">Sterge articol</button>
            }
        }
        <div class="clearfix"></div>
    </div>
    }
</div>

<br />

<br />
@{
    var commentCount = 0;
}
@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="custom-div">
                    <p>@comm.Content</p>
                    <small class="pull-right">@comm.Date</small>
                    <i class="glyphicon glyphicon-user"></i> <strong> @ViewBag.CommentUsernames[commentCount] </strong>
                </div>
                <br/>
                @if (comm.UserId == ViewBag.utilizatorCurent)
                {
                    <div style="display: inline-block; float: left; margin-right: 15px">
                        <a class="glyphicon glyphicon-pencil custom-a" href="/Comments/Edit/@comm.CommentId"></a>
                    </div>
                }
                @if (comm.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
                {
                    <div style="display: inline-block; float: left">
                        <form method="post" action="/Comments/Delete/@comm.CommentId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="glyphicon glyphicon-trash custom-delete-a" style="border: none; background: transparent" type="submit"></button>
                        </form>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <hr />

    commentCount++;
}


<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="panel panel-custom">
                <form method="post" action="/Articles/Show/@Model.ArticleId">
                    <div class="panel-body panel-body-custom">
                        <input type="hidden" name="ArticleId" value="@Model.ArticleId" />
                        <input type ="hidden" name="UserId" value="@ViewBag.utilizatorCurent">
                        <br />
                        <textarea class="form-control form-control-custom" name="Content"></textarea>
                        <br />
                        <button class="btn btn-primary " type="submit">Adauga comentariu</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>