
<div class="panel-heading">@Model.Title</div>
<div class="panel-body">
    @Html.Raw(Model.Content)
    <br />
    <br />
    <span class="label label-success">@Model.LastModified</span>
    <br />
    <br />
    <a class="btn btn-primary" href="/DomainArticles/Index/@Model.Domain.DomainName">
        <i class="glyphicon glyphicon-globe"></i>
        @Model.Domain.DomainName
    </a>
    <br />
    <br />
    <i class="glyphicon glyphicon-user"></i> <i>articol scris de</i> <strong> @Model.User.UserName </strong>
    <br />
    <hr>
    <hr>
</div>