
<div class="panel-heading">
    <h3 class="font-weight-bold">@Model.Title</h3>
</div>

<div class="panel-body">
    <div class="article-content-wrapper">
        @Html.Raw(Model.Content)
    </div>
</div>

<div class="article-meta">

    <div>
        <a class="btn btn-primary" href="/DomainArticles/Index/@Model.Domain.DomainName">
            <i class="glyphicon glyphicon-globe"></i>
            @Model.Domain.DomainName
        </a>
    </div>

    <br/>

    <div>
        <i class="glyphicon glyphicon-user"></i>
        <i>articol scris de</i> <strong> @Model.User.UserName </strong>
    </div>

    <span class="label label-success">
        <i class="glyphicon glyphicon-time"></i>
        @Model.LastModified
    </span>

    <br/>

</div>