@model Crowd_knowledge_contribution.Models.ApplicationUser

@{
    /**/

    ViewBag.Title = "Editare rol utilizator";
}

<div class="custom-div">
    <li><h3>@ViewBag.Title</h3></li>
</div>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Users", routeValues: new { id = @Model.Id }))
{
    <div class="custom-div">
        @Html.HttpMethodOverride(HttpVerbs.Put)

        <br />

        <i class="glyphicon glyphicon-user"></i>
        @Html.Label("UserName", "Nume utilizator", new { @class = "" })

        <br />

        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-custom" })

        <br /><br />

        <i class="glyphicon glyphicon-envelope"></i>
        @Html.Label("Email", "Email utilizator", new { @class = "" })

        <br />

        @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-custom" })

        <br /><br />

        <i class="glyphicon glyphicon-phone"></i>
        @Html.Label("PhoneNumber", "Numar telefon")

        <br />

        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control form-control-custom" })

        <br /><br />

        <i class="glyphicon glyphicon-th-list"></i>
        <label>Selectati rolul</label>
        @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", ViewBag.userRole), null, new { @class = "form-control form-control-custom" })

        <br />

        <button class="btn btn-sm btn-primary" type="submit">Modifica datele utilizatorului</button>

    </div>
}

