@model Crowd_knowledge_contribution.Models.ApplicationUser

@{
    ViewBag.Title = "Detalii utilizator";
}

<div class="custom-div">
    <li><h3>@ViewBag.Title</h3></li>
</div>

<div class="custom-div">Nume utilizator: @Model.UserName</div>

<div class="custom-div">

    <i class="glyphicon glyphicon-envelope"></i> Email utilizator: @Model.Email
    <br />
    <i class="glyphicon glyphicon-th-list"></i> Rol utilizator: @ViewBag.roleName

    <br /><br />

    @if (@Model.PhoneNumber != null)
    {
        <i class="glyphicon glyphicon-phone"></i>@:Telefon utilizator: @Model.PhoneNumber
    }

</div>

@if ((string)Model.Id != ViewBag.utilizatorCurent)
{
    <div class="panel-footer panel-footer-custom">
        @using (Html.BeginForm(actionName: "Delete", controllerName: "Users", routeValues: new { id = @Model.Id }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <br />
            <button class="btn btn-danger" type="submit">Șterge utilizator</button>

        }
    </div>
}
